@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head_menu {
  width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  width: 44px;
  height: 38px;
  padding: 18px 41px 19px 231px;
  content: url(../img/logotype.svg);
}

.finder {
  width: 26px;
  height: 26.79px;
  padding: 28px 859px 20px 0;
  content: url(../img/finder.svg);
}

.menu_button {
  width: 32px;
  height: 23px;
  padding: 30px 25px 22px 0;
  list-style: none;
  background: url(../img/menu_down.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.menu_button:hover .menu_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_down {
  width: 232px;
  height: 764px;
  background: #FFFFFF;
  position: absolute;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  top: 75px;
  display: none;
}

.menu_title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 37px 147px 0 34px;
}

.close {
  content: url(../img/close.svg);
  position: absolute;
  top: 16px;
  left: 203px;
}

.menu_subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin: 24px 144px 0 33px;
}

.menu_link {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin: 12px 73px 0 54px;
}

.menu_link:hover {
  color: #EF5B70;
}

.profile {
  width: 28px;
  height: 29px;
  padding: 20px 20px 20px 20px;
  content: url(../img/profile.svg);
}

.cart {
  width: 32px;
  height: 29px;
  padding: 20px 239px 20px 0;
  content: url(../img/cart.svg);
}

.header {
  background: #F1E4E6;
  height: auto;
}

.header_left {
  width: 800px;
  height: 764px;
  content: url(../img/fashion_header.png);
  position: relative;
  right: 150px;
}

.header_right {
  width: 800px;
  height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 250px;
}

.header_right_elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 405px;
  height: 93.1px;
  margin: 289.9px 0 381px 63.42px;
}

.rectangle {
  width: 12px;
  height: 92px;
  background: #F16D7F;
  margin: 0 16px 0 0;
}

.header_text {
  font-family: Lato;
  font-size: 48px;
  color: #222222;
  line-height: 45px;
}

.header_text_small {
  font-size: 32px;
}

.header_text_color {
  color: #F16D7F;
}

.header_text_any_page {
  margin: 59px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_header {
  background: #F7F7F7;
  height: auto;
}

.registraion_container {
  margin: 60px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration_left {
  width: 360px;
}

.register_name {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration_form {
  width: 360px;
  height: 45px;
  margin-top: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  text-indent: 15px;
}

.register_m_or_f {
  margin: 30px 0 30px 0;
}

.registraion_p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin: 20px 0 40px 0;
}

.join {
  width: 167px;
  height: 50px;
  background: #F16D7F;
  border-color: #F16D7F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join_text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0 auto;
  margin-top: 12px;
}

.icon_reg {
  margin: 15px 15px 0 0;
}

.registration_right {
  width: 652px;
  margin-left: 128px;
}

.registraiont_text_right_head {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.registraiont_text_right_p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 22px 0;
}

.registraiont_text_right_loyal {
  list-style-image: url(../img/loyal.svg);
  margin: 25px 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.cart_container {
  margin: 60px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart_left {
  width: 652px;
}

.cart_item {
  width: 652px;
  height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
  -webkit-box-shadow: 12px 12px 26px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 12px 12px 26px -5px rgba(0, 0, 0, 0.2);
}

.cart_img {
  content: url(../img/New_items_beared.png);
  width: 262px;
  height: 306px;
  -webkit-transition: 1s;
  transition: 1s;
}

.cart_img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cart_content {
  margin: 22px 0 62px 31px;
}

.cart_head {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.close_cart {
  content: url(../img/close.svg);
  width: 18px;
  height: 18px;
  margin-left: 50px;
}

.cart_options {
  margin-top: 42px;
  width: 166px;
  height: 122px;
}

.cart_text_options {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.quantity_cart {
  width: 40px;
  height: 25px;
  text-indent: 16px;
}

.cart_price {
  color: #F16D7F;
}

.cart_character {
  color: #656565;
}

.cart_buttons_left {
  margin: 72px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart_button_left_left {
  background: #ffffff;
  border: 1px solid #A4A4A4;
  width: 235px;
  height: 50px;
  margin-right: 192px;
}

.cart_button_left_right {
  background: #ffffff;
  border: 1px solid #A4A4A4;
  width: 225px;
  height: 50px;
}

.text_button_left {
  margin: 17px 25px;
}

.cart_right {
  width: 360px;
  margin-left: 128px;
}

.cart_right_head {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.cart_form {
  width: 360px;
  height: 45px;
  margin: 20px 0;
  text-indent: 15px;
}

.cart_button_quote {
  width: 101px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #A4A4A4;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.cart_price_info {
  width: 360px;
  background: #F5F3F3;
  margin-top: 57px;
}

.sub_total_price {
  padding: 39px 34px 0 218px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.grand_total_price {
  margin: 12px 37px 0 153px;
  float: right;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.hr_cart {
  width: 275px;
  height: 1px;
  background: #E2E2E2;
  margin: 50px 42px 0 42px;
}

.cart_checkout_proc {
  width: 273px;
  height: 50px;
  background: #F16D7F;
  border: none;
  margin: 17px 42px 42px 42px;
}

.cart_checkout_proc_text {
  color: #ffffff;
}

.left_arrow {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  margin-top: 365px;
}

.right_arrow {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  margin-top: 365px;
}

.left_arrow:hover .arrow_icon_left {
  fill: #F16D7F;
}

.arrow_icon_left {
  fill: #000000;
  margin: 12px 17px;
}

.right_arrow:hover .arrow_icon_right {
  fill: #F16D7F;
}

.arrow_icon_right {
  fill: #000000;
  margin: 12px 17px;
}

.product_image {
  content: url(../img/product.png);
  margin: 0 auto;
}

.product {
  background: #FFFFFF;
  width: 1140px;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 129px;
  border: 1px solid #EAEAEA;
}

.fake_white {
  background: white;
  height: 50px;
  width: 1140px;
  margin-top: -100px;
  position: absolute;
  z-index: 1;
  border: 1px solid #EAEAEA;
  border-bottom: none;
}

.product_size_block {
  width: 555px;
  margin: 0 auto;
  margin-top: -50px;
  z-index: 2;
}

.product_category {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-align: center;
}

.product_hr {
  width: 63px;
  height: 3px;
  background: #EF5B70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12px 246px;
}

.product_title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-align: center;
}

.product_desc {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin: 48px 0 32px 0;
}

.product_price {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  text-align: center;
}

.line_product {
  width: 641px;
  height: 1px;
  background: #EAEAEA;
  margin: 65px 0;
}

.product_settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.product_text_settings {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin: 0 42px;
}

.checkbox_svg_product {
  margin-left: 5px;
  content: url(../img/choose.svg);
}

.product_text_settings:hover .choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.add_to_cart_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 211px;
  height: 47px;
  border: 1px solid #FF6A6A;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 64px;
}

.add_to_cart_icon_product {
  width: 26px;
  height: 24px;
  fill: #EF5B70;
  margin: 10px 22px 0 23px;
}

.add_to_cart_text_product {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F26376;
  margin-top: 14px;
}

.choose {
  width: 79px;
  height: 110px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background: #FFFFFF;
  position: absolute;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  display: none;
}

.new_arrivals_header {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.way_header {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  margin-left: 731px;
}

.category {
  width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 65px;
}

.women {
  width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/for_women.png);
}

.men {
  margin: 0 30px 30px 30px;
  width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/for_men.png);
}

.kids {
  width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/for_kids.png);
}

.accesories {
  width: 1140px;
  height: 180px;
  margin: 0 0 96px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/accesories.png);
}

.category_text {
  text-align: center;
  margin: auto;
  font-family: Lato;
  font-weight: 100;
  font-size: 19px;
  line-height: 19px;
  color: #FFFFFF;
}

.sub_text_category {
  text-align: center;
  margin: auto;
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  line-height: 19px;
  color: #F16D7F;
}

.new_items_header {
  font-family: Lato;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new_items_down {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all_new_items_blocks {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new_items_block {
  width: 360px;
  height: 581px;
  background: #F8F8F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 48px 0 0 0;
}

.all_new_items_blocks .new_items_block:nth-child(even) {
  width: 360px;
  height: 581px;
  background: #F8F8F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 48px 30px 30px 30px;
}

.new_items_img {
  width: 360px;
  height: 420px;
}

.new_items_img:nth-child(1) {
  background: url(../img/New_items_backpack.png);
}

.new_items_img:nth-child(2) {
  background: url(../img/New_items_girl.png);
}

.new_items_img:nth-child(3) {
  background: url(../img/New_items_girl.png);
}

.new_items_img:nth-child(4) {
  background: url(../img/New_items_beared.png);
}

.new_items_img:nth-child(5) {
  background: url(../img/New_items_girl_blue.png);
}

.new_items_img:nth-child(6) {
  background: url(../img/New_items_girl_eye.png);
}

.new_items_img:hover {
  -webkit-box-shadow: inset 0 0 0 100vw rgba(58, 56, 56, 0.86);
          box-shadow: inset 0 0 0 100vw rgba(58, 56, 56, 0.86);
}

.new_items_img:hover .add_to_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add_to_cart {
  display: none;
  width: 138px;
  height: 43px;
  border: 1px solid #FFFFFF;
  margin: 180px 110px;
}

.add_to_cart_icon {
  width: 26px;
  height: 24px;
  content: url(../img/cart_item.svg);
  margin: 10px;
}

.add_to_cart_text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.new_items_block_head_text {
  font-family: Lato;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.new_items_block_text {
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.new_items_block_price {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.browse {
  border: 1px solid #FF6A6A;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background-color: transparent;
  padding: 14.5px 38.5px 13.5px 38.5px;
  margin: 48.5px 0 95px 0;
}

.browse:hover {
  background-color: #F26376;
}

.browse:hover .browse_href {
  color: white;
}

.browse_href {
  text-decoration: none;
  color: #F26376;
}

.page_browse {
  width: 282px;
  height: 43px;
  border: 1px solid #EBEBEB;
  background: white;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.browse_left_arrow {
  width: 41px;
  height: 44px;
}

.browse_right_arrow {
  width: 41px;
  height: 44px;
}

.browse_left_arrow:hover .browse_arrow_icon_left {
  fill: #F16D7F;
}

.browse_arrow_icon_left {
  fill: #000000;
  margin-top: 10px;
}

.browse_right_arrow:hover .browse_arrow_icon_right {
  fill: #F16D7F;
}

.browse_arrow_icon_right {
  fill: #000000;
  margin-top: 10px;
}

.browse_text_page {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #5D5D5D;
  padding: 9px;
}

.browse_text_page:hover {
  color: #EF5B70;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 62px 0;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  padding: 5px;
}

.filter:hover .box_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter:hover .filter_text {
  color: #EF5B70;
}

.filter:hover .filter_icon {
  fill: #EF5B70;
}

.filter_text {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

.filter_icon {
  margin-left: 5px;
  z-index: 5;
  fill: black;
}

.box_filter {
  position: absolute;
  margin: -20px 0 0 -20px;
  width: 350px;
  height: 540px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  display: none;
}

.box_filter_pos {
  margin: 46px 16px 16px 16px;
}

.filter_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
}

.filter_title_text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding: 0 100% 11px 15px;
  margin: 8px 0 11px;
}

.box_filter_text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin: 11px 0 0 33px;
}

.box_filter_text:hover {
  color: #EF5B70;
}

.triangle {
  background: #EF5B70;
  width: 5px;
  height: 37px;
  position: absolute;
}

.any_sort {
  margin-left: 304px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trending_now {
  margin-right: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 48px;
}

.size:hover .choose_size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.checkbox_svg {
  margin: 8px 0 0 5px;
  content: url(../img/choose.svg);
  width: 10px;
  height: 5px;
}

.choose_size {
  width: 79px;
  height: 110px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background: #FFFFFF;
  position: absolute;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  top: 310px;
  display: none;
}

.checkbox_size {
  margin: 7px 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #6F6E6E;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why_me {
  height: 341px;
  background: #222224;
}

.block_why_me {
  height: 99px;
  width: 360px;
  margin: 103px 30px 104px 0;
}

.why_me_img {
  margin: 0 156.98px 0 156.03px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why_me_h1 {
  font-family: Lato;
  font-size: 19.96px;
  line-height: 24px;
  text-align: center;
  color: #FBFBFB;
  margin: 28.07px 0 16px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why_me_p {
  font-family: Lato;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prefooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/subscribe.png);
  background-position: center;
  background-repeat: no-repeat;
}

.footerposition {
  background-color: rgba(244, 244, 244, 0.7);
  width: 1600px;
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_mobile_and_tablet_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback {
  width: 800px;
  left: 230.29px;
  top: 97px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 97px 0 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.avatar {
  content: url(../img/avatar.png);
  width: 96px;
  height: 96px;
  margin: 0 500px;
}

.quote {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  width: 360px;
  height: 99px;
}

.subscribe {
  margin: 150px 0 0 0;
}

.subscribe_text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 32px 0;
}

.subscribe-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe_form {
  width: 256px;
  height: 49px;
  border-radius: 50px 0 0 50px;
  background-color: #E1E1E1;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: transparent;
  color: #222224;
  outline: none;
}

.subscribe_form_btn {
  width: 100px;
  height: 49px;
  border-radius: 0 50px 50px 0;
  background: #F16D7F;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: transparent;
  color: #FFFFFF;
}

.subscribe_form_btn:hover {
  background: #d65b6b;
}

.footer {
  height: 79px;
  background: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.copy {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  margin: 30px 0 30px 0;
}

.footer_links {
  vertical-align: middle;
}

.footer_links_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sociall {
  list-style-type: none;
  margin: 24px 7px 23px 0;
  width: 32px;
  height: 32px;
  background: #FFFFFF;
}

.sociall:hover {
  background: #F16D7F;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.facebook {
  content: url("../img/facebook.svg");
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.instagram {
  content: url("../img/insta.svg");
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
}

.pintrest {
  content: url("../img/pintrest.svg");
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.twitter {
  content: url("../img/twit.svg");
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
}
/*# sourceMappingURL=style.css.map */